/* 
    Document   : main
    Created on : 2013-09-08, 16:53:37
    Author     : galbanie
    Description:
        Purpose of the stylesheet follows.
*/

#global{
    min-width: 1280px;
}

#principal{
    margin: 0 80px;
}

#principal > div{
    float: left;
    display: inline-block;
    
}

#sidebarGauche{
    /*width: 210px;*/
    width: 15%;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #E4E4E4;
}

#centre{
    width: 632px;
    /*width: 40%;*/
    min-height: 500px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #E4E4E4;
}

#sidebarDroit{
    /*width: 310px;*/
    width: 25%;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #E4E4E4;
}

#centreUnique{
    width: 1110px;
    /*width: 82%;*/
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #E4E4E4;
}

/* Section connexion et panel membre */

#membre-main{
    
}

#membre-main hr{
    margin: 0 !important;
}

#membre-main>div{
    float: left;
    display: inline-block;
}

#membre-section-msg{
    /*width: 399px; haute resolution*/
    width: 380px;
    padding: 0 10px;
}

#membre-section-msg form{
    margin: 0;
}

#membre-section-msg > *{
    padding: 0 10px;
}

#membre-section-msg > div{
    width: 100%;
    padding: 10px 0 20px 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #E4E4E4;
}

#membre-section-msg>div h2{
    padding: 2px 10px;
    background-color: #fd2626;
    color: #FFFFFF;
    box-shadow: 7px 7px 5px #E4E4E4;
}

#membre-section-msg-btnSbmit input[type="submit"]{
    color: #FFFFFF;
    background-color: #004ab3;
    padding: 10px 5px;
    font-size: medium;
}

#membre-section-form{
    /*width: 690px; haute resolution*/
    width: 590px;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #E4E4E4;
}

#membre-section-form > *{
    padding: 0 10px;
}

#membre-section-form legend{
    font-size: 30px;
    text-shadow:2px 1px #A8A8A8;
}

#membre-section-form div{
    margin: 0 0 10px 0;
}

#membre-section-form div label{
    font-size: large;
    padding: 0 10px;
}

#membre-section-form div label a{
    margin-left: 10px;
}

#membre-section-form div input{
    /*width: 640px;*/
    width: 95%;
    font-size: large;
    margin: 0 10px;
}

#formConnexion{
    min-height: 400px;
}

.btn-send input[type="submit"],
.btn-send input[type="button"],
.btn-send input[type="reset"]{
    width: 140px !important;
    height: 40px !important;
    color: #FFFFFF;
    font-size: small;
    /*background-image: url('images/btn_submit.png');
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: #004ab3;
    border-radius: 5.5px;
    
}

.btn-send input[type="submit"]:hover,
.btn-send input[type="submit"]:active,
.btn-send input[type="button"]:hover,
.btn-send input[type="button"]:active,
.btn-send input[type="reset"]:hover,
.btn-send input[type="reset"]:active{
    color: #E4E4E4;
    /*background-image: url('images/btn_submit_hov.png');
    background-repeat: no-repeat;*/
    background-color: #fd2626;
    
}

#form-div-condition label{
    display: inline-block;
    width: 89.9% !important;
}

#form-div-condition input{
    width: auto !important;
}

.correct {
  border-color: rgba(68, 191, 68, 0.75);
}
 
.correct:focus {
  border-color: rgba(68, 191, 68, 0.75);
  -moz-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
  -webkit-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
  box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}
 
.incorrect {
  border-color: rgba(191, 68, 68, 0.75);
}
 
.incorrect:focus {
  border-color: rgba(191, 68, 68, 0.75);
  -moz-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
  -webkit-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
  box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}
 
.tooltip {
    margin: 5px 10px 0 10px;
    padding: 0 20px 0 35px !important;
    border: 1px solid #555;
    background-color: #CCC;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: url('images/Icones/black/icons-attention.png') no-repeat #CCC;
    background-position: 10px 50%;
}

/* ||||||||  section centre page default  ||||||||| */

#centreBlockVideopromo{
    width: 100%;
    height: 350px;
    margin-top: 0 !important;
    position: relative;
    display: block;
    /*border: 1px solid #555;*/
    border-width: 1px 0 1px 0;
    border-color: #E4E4E4;
    border-style: solid;
}

#centreBlockVideopromo div{
    width: 100%;
    padding: 0;
    display: block;
    /*border: 1px solid #CCC;*/
}

#videopromo{
    height: 70%;
}

#videopromoinfo{
    height: 20%;
}

#centreVideosSlide{
    padding: 0 !important;
    width: 100%;
    height: 140px;
    border-width: 0 0 1px 0;
    border-color: #E4E4E4;
    border-style: solid;
}

#centreVideosPopulaires{
    width: 100%;
    padding: 0 !important;
}

#centreVideosPopulaires div{
    float: left;
    display: inline-block;
    width: 49.9%;
    height: 160px;
    padding: 0;
    /*border: 1px solid #555;*/
    border-width: 0 0 1px 0;
    border-color: #E4E4E4;
    border-style: solid;
}

#centreVideosPopulaires h2{
    border-width: 0 0 1px 0;
    border-color: #E4E4E4;
    border-style: solid;
}

.divGauche{
    /*margin-left: 5px !important;*/
    border-width: 0 1px 1px 0 !important;
    border-color: #E4E4E4;
    border-style: solid;
}

/* ||||||||  section sidebar droit page default  ||||||||| */

#gaucheCategorieVideo{
    width: 100%;
    height: 320px;
    padding: 0 !important;
    border-width: 1px 0 1px 0;
    border-color: #E4E4E4;
    border-style: solid;
}

#gaucheVideosMembre{
    width: 100%;
    height: 210px;
    padding: 0 !important;
    border-width: 1px 0 1px 0;
    border-color: #E4E4E4;
    border-style: solid;
}

/* ||||||||  section sidebar droit page default  ||||||||| */

#DroitEspacePub{
    width: 100%;
    height: 280px;
    padding: 0 !important;
    border-width: 1px 0 1px 0;
    border-color: #E4E4E4;
    border-style: solid;
}

/* ||||||||| section panel membre |||||||||*/

#panelMembreControle{
    width: 17.9%;
    min-height: 100%;
    padding: 0 !important;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #E4E4E4;
}

#panelMembreControle *{
    /*padding: 0 !important;*/
}

#menuPanelMembre{
    width: 100%;
}

#menuPanelMembre a{
    display: block;
    width: 80%;
    color:#FFFFFF;
    background-color: #004ab3;
    padding: 10px 0 10px 20% !important;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #E4E4E4;
    background-size: 9%;
    background-position: 7% 50%;
    background-repeat: no-repeat;
}

#menuPanelMembre a:hover,
.lienCourant{
    color:#FFFFFF !important;
    background-color: #fd2626 !important;
    font-weight: bolder !important;
}

#lienDeconnexionMembre{
    background-image: url('images/Icones/black/icons-eteindre.png');
}

#lienSettingsMembre{
    background-image: url('images/Icones/black/icons-modifeSettings.png');   
}

#lienGestionnaireMembre{
    background-image: url('images/Icones/black/icons-film.png');   
}

#lienAlerteMembre{
    background-image: url('images/Icones/black/icons-alert.png');
}

#lienProfilMembre{
    background-image: url('images/Icones/black/icons-profile.png');
}

#lienGeneralMembre{
    background-image: url('images/Icones/black/icons-general.png');
}

#panelMembreMain{
    width: 82.1%;
    min-height: 100%;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #E4E4E4;
}

/* Membre > Info Bar */

#panelMembreInfoBar{
    width: 100%;
    /*padding: 10px 5px !important;*/
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #FFFFFF;
    background-color: #004ab3;
}

#panelMembreInfoBar>div{
    float: left;
    /*width: 160px;*/
    width: 16%;
    padding: 9px 5px !important;
    margin-left: 20px;
    /*background-size: 15%;
    background-position: 7% 43%;
    background-repeat: no-repeat;*/
}

#panelMembreInfoBar>div>span{
    color:#FFFFFF;
    font-weight: bolder;
}

.InfoBarChiffre{
    /*margin-left: 40px;*/
    padding: 4px 4px;
    background-color: #fd2626;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.InfoBarLettre{
    font-size: smaller;
}

#btnStat{
    float: right;
    margin: 4px 5px 0 0 !important;
    color:#FFFFFF;
    background-color: #fd2626;
}

#membreInfoBarVideo{
    /*background-image: url('images/Icones/icons-general2.png');*/
}

#panelMembreContent{
    /*width: 97.9%;*/
    padding-left: 20px;
}

#panelMembreContent form >div,#panelMembreContent > #divProfileMembre > div{
    float: left;
    display: inline-block;
}

.titreSectionMembre{
    color: #FFFFFF;
    padding: 7px 20px 3px 20px;
    margin-bottom: 20px;
    width: 95.5%;
    font-weight: bolder;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #E4E4E4;
    background-color: #fd2626;
}

#panelMembreContent #imageMembreProfile, #panelMembreContent #stateMembreProfile{
    width: 210px;    
}

#imageMembreProfile{
    height: 280px;
    margin-left: 20px;
    border: 4px double #A8A8A8;
}

#stateMembreProfile{
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 13px;
    height: 347px;
    background-color: #004ab3;
    border: 1px solid #A8A8A8;
}

#stateMembreProfile>div{
    margin: 20px auto;
}

.boxInfoDiv{
    width: 140px;
    border: 2px solid #000000;
}

.boxInfoDiv span{
    display: block;
    padding: 10px 0;
    text-align: center;
}

.boxInfoDiv .spanHaut{
    font-weight: bolder;
    background-color: #fd2626;
    color: #FFFFFF;
}

.boxInfoDiv .spanBas{
    background-color: #CCC;
    color: #000000;
}

#imageMembreProfile img{
    width: 210px;
    height: 280px;
}

#imageMembreProfile>a{
    position: absolute;
    display: none;
    color : #FFFFFF;
    font-size: small;
    font-weight: bold;
    padding: 5px 5px;
    margin: -40px 43px 0 43px;
    background-color: #004ab3;
    border: 1px solid #E4E4E4;
}

#imageMembreProfile>a:hover{
    background-color:#fd2626;
}

#divCHoixActionChangeImage{
    position: absolute;
    /*width: 211px;*/
    top:266px;
    left:324px;
    background-color: #E4E4E4;
    border: 1px solid #000000;
    z-index: 700;
}

#divCHoixActionChangeImage a{
    display: block;
    padding:2.5px 18px;
    color : #FFFFFF;
    font-weight: bolder;
    text-decoration: none;
    font-size: x-small;
    background-color: #004ab3;
    border: 1px solid #E4E4E4;
    cursor: pointer;
}

#divCHoixActionChangeImage a:hover{
    background-color:#fd2626;
}

#informationProfileMembre{
    width: 65%;
    height: 266px;
    padding: 10px;
    margin-left: 20px;
    border: 1px solid #A8A8A8;
}

#informationProfileMembre >div{
    height: 40%;
}

#informationProfileMembre >div>div{
    float: left;
    display: inline-block;
    margin-top: 5px;
    margin-left: 20%;
}

#informationProfileMembre >div>div+div{
    float: right;
     margin-left: 0 !important;
     margin-right: 20%;
}

#informationProfileMembre div #infoNomPrenom{
    float: left;
    font-size: 28px;
    font-weight: 900;
}

#informationProfileMembre div #infoAge{
    float:right;
    font-size: large;
    font-weight: bolder;
}

#informationProfileMembre div #infoId{
    margin-left: 10px;
    padding:3px;
    color: #FFFFFF;
    background-color: #555;
}

#informationProfileMembre div #infoVille{
    display: block;
    margin-left: 10px;
}

#membreProfileBtnModif{
    width: 99%;
    margin-top: 20px;
    color: #FFFFFF;
    background-color: #004ab3;
}

#divProfileMembreAbonner{
    display: block !important;
    width: 95%;
    margin: 10px 20px;
}

#divProfileMembreAbonner div{
    display: inline-block;
}

#profileMembreAbonnement{
    width: 48.5%;
    height: 70px;
    margin-left: 5px;
    border: 1px solid #CCC;
}

#profileMembreAbonner{
    width: 48.5%;
    height: 70px;
    margin-left: 10px;
    border: 1px solid #CCC;
}

#information1{
    width: 65%;
    margin-left: 30px;
}

#information1>div,#information2>div{
    margin-bottom: 10px;
}

.labelInfo{
    font-size: large;
    font-weight: bolder;
}

.inputInfo{
    width: 95%;
    font-size: large;
    height: 30px;
}

.buttonEdit{
    position: absolute;
    width: 70px !important;
    margin-left: -75px;
    margin-top: 7px;
    z-index: 999;
    color: #fff;
    background-color: #004ab3;
    border: 1px solid #E4E4E4;
}

.buttonEdit:hover{
    background-color: #fd2626;
}

#information2{
    width: 65%;
    margin-left: 20px;
}

#confirEditMembreProfile{
    float: none !important;
    width: 420px;
    /*width: 60%;*/
    display: block !important;
    margin: 5px auto 10px auto;
}

#confirEditMembreProfile input{
    
}

#informationReglage{
    margin: 0 20px;
    width: 95%;
}

.divInputReglage{
    width: 100%;
    padding: 20px 0;
}

.backgroundDivDark{
    background-color: #CCC;
}

.divInputReglage select{
    width: 140px !important;
}

.divInputReglage *{
    display: inline-block;
}

.divInputReglage>label{
    float: left;
    margin: 0 0 0 10px !important;
}

.divInputReglage div{
    float: right;
    margin-right: 70px;
}

.divInputReglage div>*{
    margin-left: 35px;
    font-size: medium;
    font-weight: bolder;
}

.divInputReglage div>label input{
    margin-right: 5px;
    margin-top: -1.5px;
}

#btnSupprimerCompte{
    background-color: #fd2626;
    color: #FFFFFF;
}

#confirmEditMembreReglage{
    float: none !important;
    /*width: 600px;*/
    width: 70%;
    display: block !important;
    margin: 5px auto 10px auto;
}

#fenetre-images-membre{
    position: absolute;
    top : 20%;
    left : 25%;
    z-index: 900;
    width: 650px;
    height: 500px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

#fenetre-images-membre .icone-close{
    position: absolute;
    display: block;
    top : 5px;
    right: 5px;
    /*z-index: 901;*/
    width: 20px;
    height: 20px;
    /*border: 1px solid #000000;*/
}

/* section Membre > General > Statistique */

#membreGeneralstatistique{
    height: 300px;
    margin-bottom: 5px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #E4E4E4;
    /*background-color: #E4E4E4;*/
}

/* Section Membre > General > Timeline */

#membreGeneralTimeline{
    
}

#timeline{
    width: 800px;
    list-style-type: none;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 10px;
}

#timeline li{
    width: 375px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #000000;
    padding: 5px;
    background-color: #E4E4E4;
}

#timeline li:nth-of-type(odd){
    clear: both;
    float: right;
}

#timeline li:nth-of-type(odd), #timeline li:nth-of-type(even){
    margin: -10px 0 20px 0;
}

.enteteTimeline{
    border: 1px solid #000000;
    background-color: #004ab3;
}

.contentTimeline{
    margin-top: 5px;
}

.time{
    float: right;
    color: #E4E4E4;
    margin-right: 5px;
}

/* Section Membre > General > Container Timeline Video */

.containerTimelineVideo{
    display: block;
    text-decoration: none;
}

.containerTimelineVideo>div{
    float: left;
    width: 285px;
    padding: 5px;
    margin-left: 5px;
    border: 1px solid #000000;
    text-decoration: none;
}

.containerTimelineVideo>div>span{
    color : #000000;
    margin-left: 5px;
    font-size: x-small;
}

.containerTimelineVideo>div>p{
    font-size: smaller;
    text-align: justify;
}

.containerTimelineVideo>img{
    float: left;
    width: 70px;
    height: 70px;
    border: 1px solid #FFFFFF;
}

.clearFloatLeft{
    clear : left;
    visibility: hidden;
}

/* Section Membre > Gestionnaire > Categorie */

.membreGestionCate{
    padding: 5px;
    margin-bottom: 5px;
    border : 1px solid #000000;
    background-color: #E4E4E4;
}

.membreGestionCateTitre{
    padding: 5px;
    background-color: #004ab3;
    cursor: pointer;
}

.membreGestionCateTitre h3{
    color: #FFFFFF;
    font-weight: bolder;
}

.membreGestionCateContent{
    height: 700px;
    margin-top: 5px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

#gestion-tabs{
    height: 570px;
}

#gestion-tabs table{
    width: 100%;
}

#gestion-tabs table td{
    padding: 5px;
}

.menu-gestion-tabs{
    padding: 5px;
    background-color: #CDCDCD;
    border: 1px dotted #000000;
}

.btn-menu-gestion-tabs{
    padding: 5px;
    
}

.vue-block{
    display: block;
    //width: 210px;
    height: 120px;
    //border: 1px solid black;
}

.vue-block-video{
    border: 1px solid black;
}

.checkbox-vue-block{
    position: absolute;
    margin: 5px !important;
}

/*|||||||||||| section etat   |||||||||||||*/

#etat{
    
}

#etat h2{
    margin: 10px 0;
    padding: 2px 10px;
    background-color: #004ab3;
    color: #FFFFFF;
    box-shadow: 7px 7px 5px #E4E4E4;
}

#etat p{
    
}

/* ||||| Section Upload ||||| */

#imageMembreProfileChange{
    width: 98%;
}

#imageMembreProfileChange >div{
    /*display: block !important;*/
}

#uploadStartingBox{
    float: left;
    display: inline-block;
    padding: 0 10px; 
    width: 67.25%;
}

#upload-section-msg{
    width: 30%;
    /*padding: 40px 0 0 0 !important;*/
    float: left;
    display: inline-block;
}

#upload-section-msg div{
    width: 100%;
    height: 120px;
    border-width: 0 0 1px 0;
    border-color: #E4E4E4;
    border-style: solid;
    
}

#upload-section-msg div p{
    text-align: justify;
    padding: 0 10px;
}

#upload-section-msg div h3{
    font-weight: bolder;
    background-color: #004ab3;
    color: #FFFFFF;
    box-shadow: 7px 7px 5px #E4E4E4;
    
}

/*    */
#dropbox{
	 border: 2px dashed #707070;
	 border-radius: 2px;
	 width: 600px;
	 height: 100px;
	 margin: 10px 0px;
	 text-align: center;
	 padding-top: 40px;
	 font-weight: bold;
	 color: #6E6E6E;	
	 letter-spacing: 1px;
}
.active{
     background : #B4F9AC;
     font-size: 15px;
     box-shadow : 0px 0px 5px 6px #ccc;
}
.progress-holder{
     width: 300px;
     padding: 2px;
     background: #CCCCCC;
     border-radius: 3px;
     float: left;
     margin-top: 4px;
     margin-right: 5px;
}
#progress{
     height: 6px;
     display:block;
     width: 0%;
     border-radius: 2px;
     background: -moz-linear-gradient(center top , #13DD13 20%, #209340 80%) repeat scroll 0 0 transparent; /* IE hack */ 
     background: -ms-linear-gradient(bottom, #13DD13, #209340); /* chrome hack */ 
     background-image: -webkit-gradient(linear, 20% 20%, 20% 100%, from(#13DD13), to(#209340)); /* safari hack */ 
     background-image: -webkit-linear-gradient(top, #13DD13, #209340); /* opera hack */ 
     background-image: -o-linear-gradient(#13DD13,#209340);
     box-shadow:3px 3px 3px #888888;
}
.preview{
     border: 1px solid #CDCDCD;
     width: 450px;
     padding: 10px;
     height:auto; 
     overflow: auto;
     color: #4D4D4D;
     float: left;
     box-shadow:3px 3px 3px #888888;
     border-radius: 2px;
}
.percents{
     float: right;
}
.preview-image{
     box-shadow: 3px 3px 3px #888888;
     width: 70px;
     height: 70px;
     float: left;
     margin-right: 10px;
}
.file-info{
     height: 50px;
     float: left;
     width: auto;
     margin-bottom: 10px;
     border: 1px solid blue;
}
.file-info span{
     margin: 3px 2px;
     font-size: 12px;
     float:left;
     display: block;
     min-width: 100px;
     overflow: auto;
     border: 1px solid red;
     overflow: none;
}
.upload-progress{
     display: none;
}